{% extends "base.html" %}

{% block title %}{{ post.title }} - Blog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <div class="card blog-card animate__animated animate__fadeIn">
            {% if post.featured_image %}
                <img src="{{ post.featured_image }}" class="card-img-top" alt="{{ post.title }}" style="height: 300px; object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h1 class="card-title mb-3">{{ post.title }}</h1>
                <div class="card-text post-content">
                    {{ post.content | safe }}
                </div>
            </div>
        </div>
        
        <div class="text-center mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary btn-gradient animate__animated animate__fadeInUp">
                ← Back to Blog
            </a>
        </div>
    </div>
</div>
{% endblock %}